@font-face {
  font-family: Noah;
  src:
    url('/fonts/Noah-Regular.woff2') format('woff2'),
    url('/fonts/Noah-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Noah;
  src:
    url('/fonts/Noah-Bold.woff2') format('woff2'),
    url('/fonts/Noah-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

html {
  font-family: Noah, system-ui;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
